*.pyc
core/motion_conf/*
core/masks/*
www/vhosts/*
www/passwords/users_digest
www/apache_logs/*
www/mutex/*
www/logs
www/motion_out
www/www_rc*
www/fifo_*
www/servo_state
www/feeds_cache
www/www/js/config.js
images_dbase/
virtual_motion_conf/*
event/*
!event/discrete.sh
!event/jpg2flv
!event/lost.sh
!event/rtsp2flv
!event/rtsp2mp4
!event/start.sh
!event/stop.sh
kmotion_rc
tar.cmd
