*.pyc
core/motion_conf/*
core/masks/*
event/
www/vhosts/*
www/passwords/users_digest
www/apache_logs/*
www/mutex/*
www/logs
www/motion_out
www/www_rc*
www/fifo_*
www/servo_state
www/feeds_cache
www/www/js/config.js
images_dbase/
virtual_motion_conf/*
kmotion_rc
tar.cmd
.project
.pydevproject
gitpush
.admin
gitpull