body {
	background-color:#000000;
	color: #C1C1C1;
}

#main_display {
	background-color:#000000;
	color: #C1C1C1;	
}

#main_display .archive_backdrop {
	background-color: #505050;
	color: #C1C1C1;	
}

#main_display .config_backdrop {
	background-color: #505050;
	color: #C1C1C1; 
}

#main_display .logs_backdrop {	
	background-color: #505050;
	color: #C1C1C1; 
}

#main_display .config_form { 	
	background-color: #404040;
	color: #C1C1C1;
}
